/*--Universal Selector--*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Petit Formal Script', cursive;
    font-family: 'Raleway', sans-serif;
}

/*--index.html CSS--*/

#container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 70px;
    padding: 30px;
    border: 6px solid black;
    font-family: 'Petit Formal Script', cursive;
    font-family: 'Raleway', sans-serif;
}

.container p {
    margin: 10px;
}

#results-button {
    float: inline-start;
    font-size: 30px;
    color: white;
    border-radius: 6px;
    margin: 15px;
}

#button:hover {
    color: coral;
}

#start-button {
    text-align: center;
    font-size: 20px;
}

#start-button:hover {
    color: coral;
}

.hide {
    display: none;
}

#timer {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    margin: 15px;
}

#questions-container {
    display: none;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    margin: 40px;
}

#a1,
#a2,
#a3,
#a4 {
    font-size: 16px;
    margin: 10px;
    width: 20%;
}

#a1:hover {
    color: coral;
}

#a2:hover {
    color: coral;
}

#a3:hover {
    color: coral;
}

#a4:hover {
    color: coral;
}

/*--index.html CSS: Final Score and Initials --*/

#userinitials-container {
    display: flex;
    justify-content: center;
}

#userinitials {
    display: none;
}

#userscore {
    display: none;
}

#submit-btn {
    display: none;
}

#submit-btn:hover {
    color: coral;
}

/*--High Scores CSS--*/

#high-scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px;
    
}
#goBackBtn {
    font-size: 17px;
}
#goBackBtn:hover {
    color: coral;
}